<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="theme-color" content="#s43567f"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <!-- Google Font -->
        <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
            rel="stylesheet"
            type="text/css"
        />
        <!-- 
            Nama: Fathimah Abiyyi Khairunnisa
            ID: D2024X087
        -->
        <link rel="icon" href="./icons/icon.png">
        <link rel="manifest" href="./app.webmanifest">
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />
        <title>Restaurant Apps</title>
    </head>
    <body>
        <a href="#maincontent" class="skip-link">Menuju ke konten</a>
        <header id="header">
            <h1>Hunger Apps</h1>
            <button id="menuButton" class="header_menu">☰</button>
            <nav id="drawer" class="nav">
                <ul class="nav_list">
                    <li class="nav_item"><a href="#/resto">Home</a></li>
                    <li class="nav_item"><a href="#/favorites">Favorites</a></li>
                    <li class="nav_item"><a href="https://www.linkedin.com/in/fathimahabiyyikhairunnisa/">About Us</a></li>
                </ul>
            </nav>
        </header>

        <div class="jumbotron">
            <div class="hero_inner">
                <h1 class="hero_title">Petualangan Rasa Dimulai di Sini!</h1>
                <p class="hero_tagline">
                    Temukan berbagai restoran yang menyajikan pengalaman kuliner tak
                    terlupakan.<br />Apapun keinginanmu, kami punya tempatnya!
                </p>
            </div>
        </div>

        <main id="maincontent"></main>
        
        <footer id="footer">
            <h4>Copyright © 2024 - Hunger Apps</h4>
        </footer>
    </body>
</html>
